.heading-xl {
  margin: 0;
  margin-bottom: .5rem;
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 105%;
  letter-spacing: -0.02em;
  text-wrap: pretty;
}

.heading-l {
  margin: 0;
  margin-bottom: .5rem;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-wrap: pretty;
}

.heading-m {
  margin: 0;
  margin-bottom: .5rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 115%;
  letter-spacing: -0.01em;
  text-wrap: pretty;
}

/* gray filter */
.icon-light {
  filter: invert(52%) sepia(31%) saturate(231%) hue-rotate(187deg) brightness(96%) contrast(85%);
}

/* inline links */

.link {
  color: var(--linkColor);
  text-decoration: none;
  width: fit-content;
}

.link:hover {
  color: var(--linkColorHover);
  text-decoration: underline;
}

.link.emphasis {
  font-weight: 600;
}

.link:has(img) {
  display: flex;
  align-items: center;
  gap: 6px;
}

.link img {
  vertical-align: middle;
}

/* buttons */

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.button {
  width: 100%;
  padding: 10px 16px;
  border-radius: 10px;
  background: var(--color95);
  color: var(--linkColor);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.button:hover {
  background: var(--color90);
  color: var(--linkColorHover);
}

.button:active {
  color: var(--linkColorHover);
  background: var(--color85);
}

.button.primary {
  background: var(--color60);
  color: white;
}

.button.primary:hover {
  background: var(--color50);
}