.heading-xl {
  margin: 0;
  margin-bottom: .5rem;
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 105%;
  letter-spacing: -0.02em;
  text-wrap: pretty;
}

.heading-l {
  margin: 0;
  margin-bottom: .5rem;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-wrap: pretty;
}

.heading-m {
  margin: 0;
  margin-bottom: .5rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 115%;
  letter-spacing: -0.01em;
  text-wrap: pretty;
}

/* gray filter */
.icon-light {
  filter: invert(52%) sepia(31%) saturate(231%) hue-rotate(187deg) brightness(96%) contrast(85%);
}

/* inline links */

.link {
  color: var(--linkColor);
  text-decoration: none;
  width: fit-content;
}

.link:hover {
  color: var(--linkColorHover);
  text-decoration: underline;
}

.link.emphasis {
  font-weight: 600;
}

.link:has(img) {
  display: flex;
  align-items: center;
  gap: 6px;
}

.link img {
  vertical-align: middle;
}

/* buttons */

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.button {
  width: 100%;
  padding: 10px 16px;
  border-radius: 10px;
  background: var(--color95);
  color: var(--linkColor);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.button:hover {
  background: var(--color90);
  color: var(--linkColorHover);
}

.button:active {
  color: var(--linkColorHover);
  background: var(--color85);
}


.button.primary {
  background: var(--color60);
  color: white;
}

.button.primary:hover {
  background: var(--color50);
}

/**
 * nodes list
 */

.nodes-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nodes-list-item {}

.nodes-list-item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  min-height: 28px;
  text-decoration: none;
  position: relative;
}

.nodes-list-item-link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: -4px -.5rem -4px -4px;
  border-radius: .5rem;
  display: none;
}

.nodes-list-item-link:hover:after {
  display: block;
  background: var(--color99);
}

.nodes-list-item-link:active:after {
  display: block;
  background: var(--color95);
}

.nodes-list-item-link>* {
  position: relative;
  z-index: 1;
}

.nodes-list-item-label {
  font-weight: bold;
  color: var(--linkColor);
  text-decoration: none;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.nodes-list-item-link:hover .nodes-list-item-label {
  color: var(--linkColorHover);
  text-decoration: underline;
}

.nodes-list-item-link:hover .nodes-list-item-details {
  color: var(--linkColorHover);
}

.nodes-list-item-icon {
  margin-right: 8px;
  width: 36px;
  height: 36px;
  background: var(--color60);
  border-radius: 8px;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodes-list-item-icon img,
.nodes-list-item-icon svg {
  /* filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(5deg) brightness(105%) contrast(100%); */
}

.nodes-list-item-details {
  flex: none;
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 1rem;
  color: var(--lighterTextColor);
  font-size: 0.8125rem;
}

.sidesheet-main-action-button.primary img,
.sidesheet-main-action-button.primary svg {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(5deg) brightness(105%) contrast(100%);
}

/* sidesheet */

.sidesheet {
  background-color: white !important;
  width: 26rem;
  margin-top: 1rem;
  border-radius: 0.6rem;
  max-height: 90vh;
  overflow: scroll;
  --shadow-color: 47deg 23% 58%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  box-shadow: var(--shadow-elevation-medium);
  overflow: auto;
}

.sidesheet::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  .sidesheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.3) 0px -2px 16px;
  }
}

/* modalsheet reminder */

.modalsheet-reminder {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background: var(--color60);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, .5);
  box-shadow: rgba(0, 0, 0, 0.3) 0px -2px 16px;
  cursor: pointer;
  border-radius: 3rem;
}

.modalsheet-reminder img {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(5deg) brightness(105%) contrast(100%);
}

.modalsheet-reminder>span {
  position: absolute;
  top: 0.9rem;
  right: 0.9rem;
}

/**
 * sheet main actions 
 */

.sidesheet-main-actions {
  padding: 0;
  list-style-type: none;
  margin: .75rem 0 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* li */
.sidesheet-main-action {
  flex: 1;
}

/* a or div */
.sidesheet-main-action-button {
  width: 100%;
  padding: 10px 16px;
  background: var(--color90);
  border-radius: 10px;
  color: var(--linkColor);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.sidesheet-main-action-button:hover {
  color: var(--linkColorHover);
  background: var(--color85);
}

.sidesheet-main-action-button:active {
  color: var(--linkColorHover);
  background: var(--color80);
}

.sidesheet-main-action-button img,
.sidesheet-main-action-button svg {
  height: 24px;
  width: 24px;
  filter: invert(18%) sepia(96%) saturate(2431%) hue-rotate(198deg) brightness(93%) contrast(91%);
}

.sidesheet-main-action-button.primary {
  background: var(--color60);
  color: white;
  text-decoration: none;
}

.sidesheet-main-action-button.primary:hover {
  background: var(--color50);
}

.sidesheet-main-action-button.primary:active {
  background: var(--color40);
}


.sidesheet-main-action-button.primary img,
.sidesheet-main-action-button.primary svg {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(5deg) brightness(105%) contrast(100%);
}

/* sheet sections */

.sidesheet-sections {
  padding: 1rem;
}

.sidesheet-section {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: solid 1px var(--separatorColor);
  position: relative;
}

.sidesheet-sections>.sidesheet-section:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

.place-languages {
  border: solid 1px var(--lightestColor);
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.place-languages ul {
  list-style: none;
  padding: 0;
}

.place-description {
  color: var(--lighterTextColor);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.place-opening-hours {
  padding: .25rem 0 .25rem 1.5rem;
  width: 100%;
  position: relative;
}

.place-opening-hours>li {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}

.place-opening-hours>li>span {
  margin-right: 2rem;
}


.place-opening-hours>li>ul {
  display: flex;
  list-style-type: none;
}

.place-opening-hours>li>ul>li {
  margin: 0 0.4rem;
}

.place-opening-hours:after {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 4px;
  bottom: 4px;
  width: 4px;
  border-radius: 8px;
  background: rgba(0, 0, 0, .2);
}

.place-description-tag {
  color: var(--lightTextColor);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}


.feature-image {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  height: 12rem;
  object-fit: cover;
  width: auto;
  border-radius: 0.3rem;
  max-width: calc(26rem - 1rem - 1rem);
  outline: solid 1px rgba(0, 0, 0, 0.2);
  outline-offset: -1px;
}

.feature-image.main-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}